html,
body {
  margin: 0;
  background: #f3f3f3;
}

.sheet {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.sheet-row {
  display: grid;
  grid-template-columns: 360px minmax(520px, max-content) 96px max-content;
  column-gap: 16px;
  align-items: center;
  box-sizing: border-box;
}

.sheet-row > :nth-child(1),
.sheet-row > :nth-child(2),
.sheet-row > :nth-child(3),
.sheet-row > :nth-child(4) {
  justify-self: start;
}
